---
import { siteConfig } from "../config";
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout title="About Me" id="about">
  <div class="space-y-8">
    <p 
      class="text-lg sm:text-xl md:text-2xl leading-relaxed text-gray-600"
      set:html={siteConfig.aboutMe}
    />
  </div>
</SectionLayout>